body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  
  
}


.scroll-to-top {
   position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: lightblue;
  color: #fff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.scroll-to-top.visible {
  display: block;
}


.ChefCard {
  width: 600px; /* Adjust the width as needed */
  border: 1px solid #e0e0e0;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.ChefCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Change box-shadow on hover */
}

.ChefCard div {
  margin-top: 10px;
  font-weight: bold;
}

/* Add some styles for the content within ChefCard */
.ChefCard h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 8px;
}

.ChefCard p {
  color: #555;
}
.ChefCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* Portfolios */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.portfolio-item {
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 6px;
}




.Engagement {
  margin-top: 20px;
}

.comment-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-body {
  margin-bottom: 8px;
}


/* like button */

 .like-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 16px; 
  border: 1px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 60px;
}

.like-button:hover {
  background-color: #2980b9;
}


/* form */
.ChefForm {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  margin-top: 100px;

}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
 width: 90% ;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 0px; /* Adjust the padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Adjust the font-size as needed */
  margin-left: 0px;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}



/* edit */
.edit-button {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px; 
 
}

button {
  padding: 8px 12px; 
  font-size: 14px; 
  margin-left: 8px;
  background-color: #3498db; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}
button:hover {
  background-color: #2980b9;
}
/* delete */
.DeleteButton {
  background-color: #dc3545; 
  color: #fff; 
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 545px; 
}

.DeleteButton:hover {
  background-color: #c82333; 
}


/* Home */

.centered-content{
  text-align: center;
  margin-top: 40px;
}

.culinary-container {
  border: 1px solid #3498db;
  border-radius: 8px;
  padding: 30px;
  margin-top: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Set a maximum width for the box */
  margin-left: auto; /* Center the box by adjusting margins */
  margin-right: auto;
  background-color: white;
  margin-top: 200px;
}

.culinary-paragraph {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px; 
}


.nav-item {
    color: #f2f2f2;
    padding: 0 16px; 
    text-decoration: none;
    margin-right: 10px;
    line-height: 60px; 
    height: 100%;
}

.nav-item:hover {
    background-color: #ddd;
    color: black;
}


.search-bar {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center; 
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 4px;
}


/* header */
.header {
  background-color: #333;
  padding: 10px 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  margin: auto;
}

.logo {
  height: 60px;
  margin-right: 20px; 
}

.chef-list{
  text-align: center;
}
/* sign up Home */
.signup-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px; /* Adjust the padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font-size as needed */
  transition: background-color 0.3s ease; 
  margin-top: 25px;
}

.signup-button:hover {
  background-color: #45a049; /* Darker green on hover */
}




